{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/top.css' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>バイト登録</title>
    <!--バイトの名前と時給を登録する画面-->
</head>

<body>
    <p><a href="{% url 'top' %}">トップへ戻る</a></p>
    <form action="{% url 'baito' %}" method="POST">
    <div class="container">
        <div class="header">
            <div class="logo">
                バイト登録
            </div>
            <div class="func">
                <ul>
                    <a href="{% url 'baito' %}">
                        <li>新規登録</li>
                    </a>
                    <a href="{% url 'keisan' %}">
                        <li>給料計算</li>
                    </a>
                </ul>
            </div>
        </div>
        <br>
        <br>

        <div class="row mx-auto">
            <div class="col-12">
                <form action="{% url 'baito' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="baito_name">バイト名</label>
                        <input type="text" name="baito_name" class="form-control" id="baito_namee"
                            placeholder="例: サイゼリヤ">
                    </div>
                    <div class="form-group">
                        <label for="wage">時給</label>
                        <input type="number" name="wage" class="form-control" id="wage">
                    </div>
                    <button type="submit" class="btn btn-primary">登録する</button>
                </form>
            </div>
        </div>
        <a href="{% url 'top' %}">一覧へ</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>