{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="{% static 'css/top.css' %}">
        
       <title>
           詳細画面
       </title>
    </head>
    <body>
        <div class="container">
            <p><a href="{% url 'top' %}">トップへ戻る</a></p>
            <div class="header">
                <div class="logo">
                    給料計算
                </div>
                <div class="func">
                    <ul>
                        <a href="{% url 'baito' %}"><li>新規登録</li></a>
                    </ul>
                </div>
            </div>
            <div class="time">
                <h1>合計 {{total_time}}時間</h1>
            </div>
            <div class="money main">
                <p>+￥{{month_salary}}</p>
            </div>
            <hr class="sifuto">
            {% for i in context %}

            <h3>{{i.workplace_name}}</h3>
            <p>{{i.date.month}}/{{i.date.day}} {{ i.starttime|time:"H:i" }} - {{ i.endtime|time:"H:i" }} [{{i.time}}時間] </p>
            <div class="money">
                <p>+￥{{i.salary}}</p>
            </div>
            <div>
                <a href="{% url 'update' i.id %}" class="btn view keisan a">シフト編集</a>
                <a href="{% url 'delete' i.id %}" class="btn view keisan d">シフト削除</a>
            </div>
            <hr class="keisan-hr">
            {% endfor %}
            
            
            <hr>
        </div>
    </body>

</html>