{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/top.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
    </script>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.js"></script>
        <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/css/top.css">
    <title>Document</title>
    
    
</head>
<body>
    <p><a href="{% url 'top' %}">トップへ戻る</a></p>
    <div class="header">
        <div class="logo">
                シフト登録
        </div>
        <div class="func">
            <ul>
                <a href="{% url 'baito' %}"><li>新規登録</li></a>
                <a href="{% url 'keisan' %}"><li>給料計算</li></a>
            </ul>
        </div>
    </div>
    <form action="{% url 'registration' workplace_data.id %}" method="POST"    >
        {% csrf_token %}
        <div class="regtop">
            

            <p>日付: <input name="date" type="text" id="datepicker"></p>
            <script>
                $(function () {
                    // timedropper
                    $("#id_created_at").timeDropper({
                        format: "H:mm",
                        setCurrentTime: false,
                    });
                });
            </script>
            <p>開始時刻</p>
            <input name="start_time" type="text" id="alarm" />
            <script>$( "#alarm" ).timeDropper();</script>

            <script>
                $(function () {
                    // timedropper
                    $("#id_created_at").timeDropper({
                        format: "H:mm",
                        setCurrentTime: false,
                    });
                });
            </script>
            <p>終了時刻</p>
            <input name="end_time" type="text" id="alarm2" />
            <script>$( "#alarm2" ).timeDropper();</script>
        </div>
        <input type="submit" value="登録する"/>
    </form>
    </body>


    </html>