{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ workplace_data.name }}のシフト一覧</title>
</head>

<body>
    <p><a href="{% url 'top' %}">トップへ戻る</a></p>
    <hr>
    <div class="container">
        <h1 class="shift">{{ workplace_data.name }}のシフト一覧</h1>
        <h3>時給 : {{ workplace_data.wage }}円</h3>
        <p><a href="{% url 'baito_remove'　workplace_data.id %}" class="btn btn-outline-danger">バイト先の削除</a></p>
        <hr>
        <p><a href="{% url 'registration' workplace_data.id %}" class="btn btn-outline-info">シフトの登録</a></p>
        <hr>

        {% for shift in shifts %}
        <div class="dayshift">
            <p>{{ shift.date }}</p>
            <p>{{ shift.start_time }} から {{ shift.end_time }}</p>
        </div>
        <p><a href="{% url 'shift_remove' shift.id %}" class="btn btn-outline-info">シフトの削除</a></p>
        <hr>
        {% empty %}
        <h2>シフトの登録はありません。</h2>
        {% endfor %}

        <div >
            <p class="kyuryo">{{ workplace_data.name }}の給料　{{salary_sum}}円</p>
        </div>

        
    </div>


    
    

</body>

</html>