{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>給料計算</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                バイト一覧
            </div>
            <div class="func">
                <ul>
                    <a href="{% url 'baito' %}">
                        <li>新規登録</li>
                    </a>
                    <a href="{% url 'keisan' %}">
                        <li>給料計算</li>
                    </a>
                </ul>
            </div>
        </div>


        {% for workplsce in workplsces %}
        <div class="top">
            <a href="{% url 'shift' workplsce.id %}" class="btn btn-outline-danger">{{ workplsce.name }}</a>
            <div class="text-right"><a href="{% url 'registration' workplsce.id %}" class="btn btn-outline-info ri">シフト登録</a></div>
        </div>
        {% endfor %}
    </div>

</body>

</html>