li{
    float:right;
    list-style: none;
    padding:33px 20px;
    color:floralwhite;

}

.logo{
    float:left;
    padding:7px;
}

h1.shift{
    background-color: #008BBB;
    color: #ffffff;
    height: 90px;
    width:100%;
    padding:15px;
}

.header{
    background-color: #008BBB;
    color: #ffffff;
    height: 90px;
    width:100%;
}
.baito{
    color: #fff;
}

.view{
    float:right;
}

.top{
    padding-top: 30px;
    border-bottom:1px solid ;
    border-color:gray;
    padding-bottom: 10px;
}
.btn{
    color:0000000;
    opacity:0.8;
    display:inline-block;
    padding:8px 24px;
    border-radius:4px;
    text-align:center;
    background-color:#239b76;
    
  }
.btn:hover{
    opacity:1.0;
}
.btn.view{
    background-color:#16979b;
    color:floralwhite;
    
}

.btn.view.d{
    margin-right:20px;
}

hr{
    margin-top:135px
}

.btn.view.keisan{
    float:right;
    margin-top: 30px;
}

.keisan-hr{
    margin-top:0;
}

.money{
    text-align: center;
    margin:0px 100px;
    color:orange;
    font-size: 50px;
    background-color: grey;
}

.logo{
    font-size: 50px;
}
.regtop{
    padding-top: 50px;
    text-align: center;
}

.datepicker-days th.dow:first-child,
    .datepicker-days td:first-child {
        color: #f00;
    }
    .datepicker-days th.dow:last-child,
    .datepicker-days td:last-child {
        color: #00f;
    }


    .form-control[disabled],
    .form-control[readonly],
    .form-control fieldset[disabled] {
        background-color: #fff !important;
        opacity: 1;
    }

.func{
    color:#ffffff;
}

.ri{
    margin: 0 0 0 auto;
}

.dayshift{
    background-color: rgb(250, 211, 139);
    padding:15px;
    margin-bottom: 10px;
}

hr.sifuto{
    margin-bottom : 100px;
}

p.kyuryo{
    background-color: rgb(253, 123, 1);
}